node_modules
images/*
!images/.gitkeep
scorefiles/*
!scorefiles/.gitkeep
announcements/*
!announcements/.gitkeep
studyMaterial/*
!studyMaterial/.gitkeep
attendance/*
!announcements/.gitkeep
receipts/*
!receipts/.gitkeep
recordings/*
!recordings/.gitkeep